<%- include('header') %>

<div class="container mt-5">

<table class="table table-bordered table-striped">

<thead>
    <tr>
        <th scope="col">Method</th>
        <th scope="col">URL</th>
        <th scope="col">Description</th>
    </tr>
</thead>

<tbody>

<% urls.forEach(url => { %>

<tr>
    <td><%= url.method %></td>
    <td><a href="<%= url.url %>"><%= url.url %></a></td>
    <td><%= url.description %></td>
</tr>

<% }); %>

</tbody>

</table>

</div>


<%- include('footer') %>